<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa2LaF47Hc5q25K4003cmoyUEubTpFxK4</string>
	<key>GCM_SENDER_ID</key>
	<string>763603420337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ahmedZoalaShop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ahmedzoalashop</string>
	<key>STORAGE_BUCKET</key>
	<string>ahmedzoalashop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763603420337:ios:974578d6cb606eb031ce90</string>
</dict>
</plist>